* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #c5eaf1;
  padding: 5px
}

body {
  background-color: #5bd4ec;
  padding: 1px 20px;
  font-family: 'Calendar Regular', sans-serif;

  border-radius: 30px 10px 55px 10px;
  margin: auto;
  width: 80%;
  min-width: 400px;
  max-width: 510px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

header {
  font-family: 'Rancho', sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 5px;
  padding: 2px;
}

#version {
  margin-left: 10px;
  padding: 3px;
  font-size: 25px;
  color: red;
  background-color: white;
  border: #321e01 solid 2px;
  border-radius: 68% 32% 53% 47% / 67% 17% 83% 33%;
  box-shadow: #422800 3px 3px 0 0;
}

hr {
  margin: 10px 0
}


/* Calendar*/

#calendar {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 8px;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;}

#month {
  text-align: center;
  padding-top: 7px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  height: 20px;
  background-color: #ee7417;
  border-bottom: 1px solid #908989;
  border-radius: 8px 8px 0 0;
}

#week, #year {
  text-align: center;
  font-size: 9px;
  color: #908989;
  height: 20px;
}

#week{
  margin-top: 9px;
  }

#day {
  text-align: center;
  font-size: 35px;
  color: black;
}


/* footer */
#signature {
  display: flex;
  font-family: "Playwrite CU", cursive;
  font-size: 13px;
  font-weight: bold;
  justify-content: center;

}

a {
  text-decoration: none;
  color: black;

}

i {
  font-size: 15px;
  margin: 0px 5px;
}
